body {
	font-size: 16px;
}

.body-zoom {
	transition: all .5s ease-in-out;
	transform: scale(1.05);
}

.avatar {
	border-radius: 1000px;
	max-height: 200px;
}

.transparent-button {
	color: white;
	background: transparent;
	border: 2px solid white;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.transparent-button--black {
	border-color: #444444;
	color: #444444;
}

.transparent-button:hover,
.transparent-button:focus {
	color: rgb(255, 55, 55);
	border-color: rgb(255, 55, 55);
}

.read-more-button {
	margin-top: 40px;
}

.read-more-button__icon {
	display: none;
}

.read-more-button:hover .read-more-button__icon {
	display: inline-block;
	padding-left: 10px;
}